.jambo_corso {
  width: 100%;
  height: 200px;
  margin-top: 70px;
  color: white;
  background: $blue;
  .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    h1 {
      margin: 30px 0;
    }
    p {
      text-align: center;
      font-size: 15px;
    }
  }
}
