footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  .footer_header {
    display: flex;
    width: 70%;
    height: 300px;
    align-items: center;
    .footer_img, .footer_rec, .footer_page, .footer_link {
      display: flex;
      align-items: center;
      height: 100px;
    }
    img{
      width: 100%;
    }
    ul {
      list-style: none;
      margin-top: 15px;
      li {
        a{
          color: $link;
        }
      }
    }
    a {
      i {
        margin: 0 10px;
        font-size: 25px;
        color: $link;
      }
    }
  }
  .footer_bottom {
    width: 100%;
    height: 70px;
    text-align: center;
    background: $blue;
    span {
      line-height: 70px;
      font-size: 10px;
      color: white;
    }
  }
}
